$brandLines: rgb(253, 205, 138);
$brandText: rgb(242, 153, 112);
$brandBackground: rgb(24, 27, 32);

body {
    margin: 0;
    font-family: "Josefin Sans",sans-serif;
}

h1 {
    color: $brandBackground;
    margin: 1rem 4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}

main {
    padding: 4rem;
    color: $brandText;
    background-color: $brandBackground;

    video {
        max-width: 100%;
    }
}

.submarine {
    width: 22rem;
    max-width: 90%;
    height: 3rem;
    padding: 0 3rem;
    border: 1px solid $brandLines;
    border-radius: 50% 50% 10% 10%;

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    &__container {
        margin-left: 10rem;
    }
}

%remove_range_defaults {

    input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        // width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        &:focus {
            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        box-shadow: 0px 0px 0px 1px $brandLines;
        }

        &::-ms-track {
            // width: 100%;
            cursor: pointer;
            
            /* Hides the slider so custom styles can be added */
            background: transparent; 
            border-color: transparent;
            color: transparent;
        }
    }
}

@mixin switchThumb {
    height: 1rem;
    width: 1rem;
    background: $brandText;
    border: none;
    border-radius: 0;
}

@mixin faderThumb {
    height: 2.5rem;
    width: 1.5rem;
    background: linear-gradient(
        to bottom,
        $brandBackground 1px,
        $brandBackground calc(100% - 1px),
        $brandLines 1px,
    );
    background-size: 100% 0.5rem;
    border: 1px solid $brandLines;
    border-radius: 1px;
}


.switch {
    position: relative;
    width: 3rem;
    border: 1px solid $brandLines;

    label {
        color: $brandText;
    }
    
    &__inner {
        box-sizing: border-box;
        display: block;
        height: 1rem;
        width: 1rem;
        background-color: $brandText;
    }

    &__container {
        position: relative;

        // range input styling
        @extend %remove_range_defaults;

        input[type=range] {

            &::-webkit-slider-thumb {
                @include switchThumb();
            }
            &::-moz-range-thumb {
                @include switchThumb();
            }
            &::-ms-thumb {
                @include switchThumb();
            }
        }
    }

    &__label {
        position: absolute;
        top: 2rem;
        width: 100%;
        text-align: center;
    }
}

.play {
    margin-top: 2rem;
}


.audio-controls {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    * + section {
        margin-top: 5rem;
    } 

   
   
}

.channel-levels {
    display: flex;

    div > * {
        display: block;
    }

    .dry {
        margin-right: 10rem;
        margin-left: 3rem;
    }

    // range input styles
    @extend %remove_range_defaults;

    input[type=range]{
        &[orient=vertical] {
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            width: 1px;
            height: 160px;
            padding: 0;
            margin: 2em auto;
            background-color: $brandLines;
        }

        &::-webkit-slider-thumb {
            @include faderThumb();
        }
        &::-moz-range-thumb {
            @include faderThumb();
        }
        &::-ms-thumb {
            @include faderThumb();
        }
        
    }
}

.fader {
    text-align: center;
    width: 5em;
    border: 1px solid $brandLines;

    & + .fader {
        margin-left: 0.5em
    }
}