body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
body * {
  box-sizing: border-box;
}

h1 {
  color: #181b20;
  margin: 1rem 4rem;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

main {
  padding: 4rem;
  color: #f29970;
  background-color: #181b20;
}
main video {
  width: 100%;
  max-width: 800px;
}

.submarine {
  width: 22rem;
  max-width: 90%;
  height: 3rem;
  padding: 0 3rem;
  border: 1px solid #fdcd8a;
  border-radius: 50% 50% 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.submarine__container {
  margin-left: 10rem;
}

.channel-levels input[type=range], .switch__container input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
}
.channel-levels input[type=range]::-webkit-slider-thumb, .switch__container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.channel-levels input[type=range]:focus, .switch__container input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  box-shadow: 0px 0px 0px 1px #fdcd8a;
}
.channel-levels input[type=range]::-ms-track, .switch__container input[type=range]::-ms-track {
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.switch {
  position: relative;
  width: 100%;
  border: 1px solid #fdcd8a;
}
.switch label {
  color: #f29970;
}
.switch__container {
  position: relative;
  width: 14%;
}
.switch__container input[type=range]::-webkit-slider-thumb {
  height: 100%;
  width: 33%;
  background: #f29970;
  border: none;
  border-radius: 0;
}
.switch__container input[type=range]::-moz-range-thumb {
  height: 100%;
  width: 33%;
  background: #f29970;
  border: none;
  border-radius: 0;
}
.switch__container input[type=range]::-ms-thumb {
  height: 100%;
  width: 33%;
  background: #f29970;
  border: none;
  border-radius: 0;
}
.switch__label {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
}

.play {
  margin-top: 2rem;
}

.audio-controls {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.audio-controls * + section {
  margin-top: 5rem;
}

.channel-levels {
  display: flex;
}
.channel-levels div > * {
  display: block;
}
.channel-levels .dry {
  margin-right: 10rem;
  margin-left: 3rem;
}
.channel-levels input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 1px;
  height: 160px;
  padding: 0;
  margin: 2em auto;
  background-color: #fdcd8a;
}
.channel-levels input[type=range]::-webkit-slider-thumb {
  height: 2.5rem;
  width: 1.5rem;
  background: linear-gradient(to bottom, #181b20 1px, #181b20 calc(100% - 1px), #fdcd8a 1px);
  background-size: 100% 0.5rem;
  border: 1px solid #fdcd8a;
  border-radius: 1px;
}
.channel-levels input[type=range]::-moz-range-thumb {
  height: 2.5rem;
  width: 1.5rem;
  background: linear-gradient(to bottom, #181b20 1px, #181b20 calc(100% - 1px), #fdcd8a 1px);
  background-size: 100% 0.5rem;
  border: 1px solid #fdcd8a;
  border-radius: 1px;
}
.channel-levels input[type=range]::-ms-thumb {
  height: 2.5rem;
  width: 1.5rem;
  background: linear-gradient(to bottom, #181b20 1px, #181b20 calc(100% - 1px), #fdcd8a 1px);
  background-size: 100% 0.5rem;
  border: 1px solid #fdcd8a;
  border-radius: 1px;
}

.fader {
  text-align: center;
  width: 5em;
  border: 1px solid #fdcd8a;
}
.fader + .fader {
  margin-left: 0.5em;
}

/*# sourceMappingURL=submarine.css.map */
