
h1 {
    margin: 1rem;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}

.submarine {
    width: 8rem;
    height: 16rem;
    border: 1px solid #000;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sub-container {
   
    margin-left: 4rem;
}

.switch {
    position: relative;
    height: 1rem;
    width: 3rem;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-start;
}

.switch-inner {
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: #aaa;
}

.js-switch-label {
    position: absolute;
    top: -1rem;
    left: 6rem;
}

.play {
    margin-top: 2rem;
}